---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PostCard from "@components/PostCard.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import { isVisibleEntry, sortByPinnedThenDateDesc } from "@lib/content-sort";
import { getWallpaperThumbnailSet } from "@lib/thumbnails";
import { getRandomWallpaper } from "@lib/wallpaper";
import Layout from "@layouts/Layout.astro";

const entries = sortByPinnedThenDateDesc(
  (await getCollection("blog")).filter(isVisibleEntry),
);
const wallpaper = getRandomWallpaper();
const wallpaperThumbnail = getWallpaperThumbnailSet(wallpaper);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} image="/ogp.png">
  <Container>
    <div class="space-y-6 sm:space-y-12">
      <div class="rounded-xl">
        <img
          src={wallpaperThumbnail?.src ?? wallpaper}
          srcset={wallpaperThumbnail?.srcset}
          sizes="(min-width: 1024px) 1024px, calc(100vw - 2rem)"
          width="1200"
          height="600"
          alt=""
          class="mx-auto aspect-[4/1] w-full object-cover sm:aspect-[2/1]"
          loading="eager"
          decoding="async"
          fetchpriority="high"
          aria-hidden="true"
        />
      </div>
      <section class="space-y-2 text-center sm:text-left">
        <h1 class="text-xl font-semibold text-black dark:text-white">
          {SITE.DESCRIPTION}
        </h1>
        <SocialLinks
          socials={SOCIALS}
          class="justify-center sm:justify-start"
        />
      </section>

      <section>
        <ul class="divide-y divide-black/10 dark:divide-white/10">
          {
            entries.map((entry) => (
              <li>
                <PostCard entry={entry} />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </Container>
</Layout>
