---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getTagEmoji } from "@/config/tag-emoji";

interface Props {
	content: CollectionEntry<"post">;
	readingTime: string;
}

const {
	content: { data },
} = Astro.props;

// const cover = data.coverImage;
// const coverSrc = cover?.src;
// const isRemoteCover = (value: unknown): value is string => typeof value === "string";
---

<!-- { --><!-- 	coverSrc && ( --><!-- 		<div class="mb-10 aspect-video mx-auto w-full max-w-3xl"> --><!-- 			{isRemoteCover(coverSrc) ? ( --><!-- 				<img --><!-- 					alt={cover.alt} --><!-- 					class="h-full w-full object-cover" --><!-- 					decoding="sync" --><!-- 					fetchpriority="high" --><!-- 					loading="eager" --><!-- 					src={coverSrc} --><!-- 				/> --><!-- 			) : ( --><!-- 				<Image --><!-- 					alt={cover.alt} --><!-- 					layout="constrained" --><!-- 					width={748} --><!-- 					height={420} --><!-- 					decoding="sync" --><!-- 					loading="eager" --><!-- 					src={coverSrc} --><!-- 				/> --><!-- 			)} --><!-- 		</div> --><!-- 	) --><!-- } -->{
	data.draft ? <span class="text-base text-red-500">(Draft)</span> : null
}
<h1 class="title mb-2 text-2xl sm:mt-4 sm:text-4xl">
	{data.title}
</h1>
<div class="mb-3 flex flex-wrap items-center gap-x-3 gap-y-2 text-sm sm:mt-3">
	<p>
		<FormattedDate date={data.publishDate} format="ymd" />
	</p>
	{
		data.updatedDate && (
			<span class="bg-quote/5 text-quote rounded-lg px-2 py-1">
				Updated:
				<FormattedDate class="ms-1" date={data.updatedDate} format="ymd" />
			</span>
		)
	}
</div>
{
	data.tags?.length && (
		<div class="mt-1">
			{data.tags.map((tag) => {
				const emoji = getTagEmoji(tag);
				return (
					<>
						<span class="contents text-xs sm:text-sm">
							<a
								class="inline-flex items-center gap-1"
								data-pagefind-filter={`tag:${tag}`}
								href={`/tags/${tag}/`}
							>
								<span class="sr-only">View more blogs with the tag&nbsp;</span>
								{emoji ? <span aria-hidden="true">{emoji}</span> : <span>{tag}</span>}
							</a>
						</span>
					</>
				);
			})}
		</div>
	)
}
