---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getTagEmoji } from "@/config/tag-emoji";

interface Props {
	content: CollectionEntry<"post">;
	readingTime: string;
}

const {
	content: { data },
} = Astro.props;
---

{
	data.draft ? <span class="text-base text-red-500">(Draft)</span> : null
}
<h1 class="title mb-2 text-2xl sm:mt-4 sm:text-4xl">
	{data.title}
</h1>
<div class="mb-3 flex flex-wrap items-center gap-x-3 gap-y-2 text-sm sm:mt-3">
	<p>
		<FormattedDate date={data.publishDate} format="ymd" />
	</p>
	{
		data.updatedDate && (
			<span class="bg-quote/5 text-quote rounded-lg px-2 py-1">
				Updated:
				<FormattedDate class="ms-1" date={data.updatedDate} format="ymd" />
			</span>
		)
	}
</div>
{
	data.tags?.length && (
		<div class="mt-1">
			{data.tags.map((tag) => {
				const emoji = getTagEmoji(tag);
				return (
					<>
						<span class="contents text-xs sm:text-sm">
							<a
								class="cactus-link inline-flex items-center text-blue-600 dark:text-blue-300 underline underline-offset-2"
 								data-pagefind-filter={`tag:${tag}`}
								href={`/tags/${tag}/`}
							>
								<span>{tag}</span>
                {"\u2006"}

								{emoji ? (
									<>
										<span aria-hidden="true">{emoji}</span>
									</>
								) : (
									"\u2006"
								)}
							</a>
						</span>
					</>
				);
			})}
		</div>
	)
}
