---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;

const hashMarks = "#".repeat(Math.max(1, depth));
const indent = Math.max(0, depth - 1) * 0.75;
---

<li style={`padding-inline-start: ${indent}rem;`}>
	<a
		class={`block truncate hover:text-accent ${depth <= 2 ? "mt-3" : "mt-2 text-xs"}`}
		href={`#${slug}`}
		title={text}
		><span aria-hidden="true" class="me-1 text-gray-500">{hashMarks}</span>{text}</a
	>
	{
		!!children.length && (
			<ol>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
